*{
    font-family:sans-serif;
}
.hicon{
    color:white;
    height:30px;
    width: 30px;
    /* border-radius: 1rem; */
    position:absolute;
    left: 0px;
    margin:17px;
    margin-left:250px;/
    

}


img.star{
    height:70px;
    width:100px;
}
div.buystar{
    display:flex;
    justify-content: space-between;
}
p.BUY{
    color: magenta;
    margin-top:20px;
    margin-right: 20px;
    /* align-content: center; */
}
p.icon{
    color:white;
    height:20px;
    width: 40px;
    border-radius: 1rem;
    border:1px solid red;
    position:absolute;
    margin:20px;
    
    background-color: red;
}
p.circle1{
    color:white;
    height:20px;
    width: 20px;
    border-radius: 1rem;
    /* border:1px solid red; */
    /* margin:20px; */
    border: 1px solid black;
    background-color: white;
}
.circle2{
   
    height:20px;
    width: 20px;
    border-radius: 1rem;
    /* border:1px solid red; */
    /* margin:20px; */
    border: 1px solid black;
    background-color: black;
}
.circle3{
   
    height:20px;
    width: 20px;
    border-radius: 1rem;
    /* border:1px solid red; */
    /* margin:20px; */
    border: 1px solid black;
    background-color: blue;
}
.size{
    height:20px;
    width: 20px;
    border-radius: 1rem;
    border: 1px solid black;
    /* border:1px solid red; */
    /* margin:20px; */
}
div.colorcircle{
    display:flex;
    justify-content: space-between;
    height:30px;
}
.circles{
    display:flex;
    gap: 10px;
    margin-left:10px;
    /* border: solid black; */
}
.sizes{
    display:flex;
    gap: 10px;
    margin-right:10px;
    /* border: solid black; */
}
/* .base{
    padding: 0px;
}
.root{
    padding: 0px;
} */
h4{
    position:relative;
    z-index: 2;
    /* border: 2px solid black; */
    width: 130px;
    margin-top: 360px;
    margin-left: 10px;
    margin-right: 10px;
}
h4.dollar{
    color: red;
    text-align: end;
    /* margin: 1.5rem; */
}




div.a1{
    display:flex;
    justify-content: space-between;
}

p{
    
    text-align: center;
}

p.hash{
    color:red;
    text-size-adjust: 20px;
}
p.grey{
    color:grey;
}
